{% extends "base.html" %}

{% block title %}Services{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Hotels and Resorts Worldwide</title>
</head>
<body>

<h1>Top Hotels and Resorts Worldwide</h1>

<ul>
  <li><a href="https://www.marriott.com/" target="_blank">Marriott Hotels</a></li>
  <li><a href="https://www.hilton.com/" target="_blank">Hilton Hotels & Resorts</a></li>
  <li><a href="https://www.hyatt.com/" target="_blank">Hyatt Hotels Corporation</a></li>
  <li><a href="https://www.ihg.com/" target="_blank">InterContinental Hotels Group</a></li>
  <li><a href="https://www.accor.com/" target="_blank">Accor Hotels</a></li>
  <li><a href="https://www.fourseasons.com/" target="_blank">Four Seasons Hotels and Resorts</a></li>
  <li><a href="https://www.ritzcarlton.com/" target="_blank">The Ritz-Carlton</a></li>
  <li><a href="https://www.mandarinoriental.com/" target="_blank">Mandarin Oriental Hotel Group</a></li>
  <li><a href="https://www.shangri-la.com/" target="_blank">Shangri-La Hotels and Resorts</a></li>
  <li><a href="https://www.oberoihotels.com/" target="_blank">The Oberoi Hotels & Resorts</a></li>
</ul>

</body>
</html>

{% endblock body %}